
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Intelligent Agriculture and Livestock Applications Laboratory</strong>
        </div>
        <div class="card-body">
            <address>
                Meşrutiyet Mahallesi, Üniversite Sokak No:2,<br />
                Şile / İstanbul TURKEY<br />
                <abbr title="Phone">P:</abbr>
                444-07-99
            </address>


        </div>
        <div class="card-footer">
            <address>
                <strong>Support:</strong>   <a href="mailto:info@intalalab.com">info@intalalab.com</a><br />
                <strong>Web:</strong> <a href="https://intalalab.com/">https://intalalab.com/</a>
            </address>
        </div>
    </div>
</div>

